@charset "UTF-8";

.layout-header {
    position: relative;
    width: 100%;
    height: 41px;
    margin: 0px auto;
    
    background-color: #181818;
}

.layout-header-contents {
    width: 980px;
    height: 41px;
    margin: 0px auto;

}
.layout-body {
    position: relative;
    width: 100%;
    height: 1009px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(/img/background01.jpg);
}