@charset "UTF-8";

.layout-header {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0px auto;
    
    background-color: silver;
}
.layout-body {
    position: relative;
    width: 100%;
    height: 1000px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: blue;
    
}