@charset "UTF-8";

.header-logo {
    position: relative;
    float: left;
    width: 100px;
    height: 41px;
}
.header-logo img {
    height: 41px;
    width: auto;
}

.header-etc {
    position: relative;
    float: right;
    width: 100px;
    height: 41px;
    
    line-height: 41px;
}
.header-etc img {
    width: 63px;
    height: 25px;
}